@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic)

// Fonts
$lora: 'Lora'

// Colours
$light-grey: #f0f0f0
$dark-grey: #3d3b3b
$raspberry: #c92268
$green: #7ad057
$dark-green: #5fa143
$brown: #7d3a2b
